@import '/src/views/variables_css/variables';

body, html {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
  }

  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/images/new_nc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Opacity applied */
    z-index: 1; /* Keep it behind other elements */
}

  
  .login-page {
    display: flex;
    height: 100vh;
    width: 100vw;
  }
  
  .left-section {
    width: 40%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .container-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $darkblue;
        height: 100%;
        width: 36%;
        margin-left: 60px;
    }
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  .bottom-container {
    padding-bottom: 30px;

    p, strong {
        text-align: center;
    }
  }

  .strong1 {
    color: $white;    
  }

  .strong2 {
    color: $yellow;
  }

  .college-logo {
    padding-top: 70px;
    align-self: center;
    width: 120%;
    margin-bottom: 20px;
  }

  .partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .partners img {
    width: 50px;
    margin: 10px;
  }
  
  .powered-by {
    color: $white;
    margin-top: 20px;
    font-size: 1rem;
  }
  
  .right-section {
    width: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('path_to_background_image.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    transition: width 0.5s ease-in-out;
    z-index: 1;
  }

  .right-section.expand {
    width: 70%; // Expand when Sign Up is clicked
  }
  
  .nav-bar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .nav-bar a {
    color: white;
    text-decoration: none;
    // font-weight: bold;
    font-family: $primaryFont;
  }
  
  .login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    margin: auto;
    transition: opacity 0.3s ease-in-out;
  }
  
  .login-form h2 {
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #003366;
  }
  
  .login-form p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 94%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password {
    font-size: 0.8rem;
    color: #007bff;
    text-decoration: none;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background: #0055a4;
  }
  
  .login-form a {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form p {
    text-align: left;
    margin-top: 10px;
  }
  
  .span {
    margin-left: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    
    h4 {
      text-align: center;
      color: $darkblue;
    }
  }

  .register-btn {
    background-color: $darkblue;
    width: 100%;
    margin-top: 20px;
  }

  label {
    color: $black;
    padding-top: 10px;
  }

  input {
    height: 4vh;
  }