@import '/src/views/variables_css/variables';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top */
}

.modalContent {
    background: #fff;
    border-radius: 40px;
    padding: 20px;
    width: 35%;
    height: calc(180px - 3vh);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        color: $black;
    }
}

.modalContent1 {
    background: #fff;
    border-radius: 40px;
    padding: 20px;
    width: 60%;
    height: calc(580px - 3vh);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;

    h2 {
        color: $black;
    }

    h3 {
        color: $black;
        padding-bottom: 10px;
    }
    div {
        height: 100px;
        width: 80%;

        label {
            color: $black;
            padding-right: 10px;
        }
        select {
            height: 50%;
        }
    }
}
.modalActions {
    padding-top: 20px;

    button {
        color: $darkblue;
    }
}

.modalActions1 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 60px;

    button {
        border-radius: 6px;
        height: 60%;
        cursor: default; /* Default cursor for disabled buttons */
        background-color: #00173F;
        color: white;
        border: none; /* Remove default border */
        padding: 10px 20px; /* Add padding for better appearance */
        transition: all 0.3s ease; /* Smooth transition for hover effects */
      }
    
      button:disabled {
        opacity: 0.6; /* Reduce opacity for disabled state */
        cursor: not-allowed; /* Show not-allowed cursor for disabled buttons */
      }
    
      button:not(:disabled) {
        cursor: pointer; /* Show pointer cursor for enabled buttons */
        border: 1px solid #00173F; /* Add border for enabled buttons */
        background-color: white; /* White background for enabled buttons */
        color: #00173F; /* Text color for enabled buttons */
      }
    
      button:not(:disabled):hover {
        background-color: #00173F; /* Background color on hover */
        color: white; /* Text color on hover */
        border: 1px solid white; /* Border color on hover */
      }
}

.Cc {
    width: 60%;
}