@import '/src/views/variables_css/variables';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top */
}

.popup {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    height: calc(633px - 4vh);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton {
    color: #00173F;
    position: fixed;
    top: 7%;
    right: 29%;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.content {
    text-align: center;
    flex-direction: column;

    height: 95%;
    width: 90%
}
 
.header {

    .header1, .headerNav {
        display: flex;  
        flex-direction: row;
    }

    .header1 {
        
        justify-content: space-around;

        div {

            p {
                text-align: start;
            }
        }
    }

    .headerNav {

        ul {

            width: 100%;
            gap: 0px;
            padding: 0px;
            padding-top: 10px;
            
            li {

                height: 40px;
                flex: 1;

                button {
                    text-align: center;
                }
            }
        }
    }
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
    th, td, h1, h4, h5 {
        color: $darkblue;
    }

    h4 {
        padding: 10px 0px;
    }

    h5, h4, h2 {
        margin: 0;
    }

    p {
        font-size: $smallClamp;
    }

    
    td {
        font-size: $smallClamp;
    }

    td, th {
        width: 50%;
        padding: 5px;
        border: 1px solid $black;
    }

    table {
        border-collapse: collapse;
    }

    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            width: 20%;
            align-self: center;
            font-size: $Small;
            border-radius: 5px;
        }

        div {
            align-self: center;
            justify-content: center;
            gap: 10px;

            table {
                align-self: center;
                border-collapse: collapse;
                padding: 5px; 
                border: 1px solid $black; 
                text-align: center; 
                white-space: nowrap;

                tr {
                    height: auto;
                    td {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        border-top: 1px solid $black;

                        h4 {
                            color: $darkblue;
                        }

                        input {
                            width: 20px;
                            height: 10px;
                            padding: 10px;
                            font-size: 16px;
                            text-align: center;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                        }
                    }
                }

            }
        }
    }
}

.submitButton {
    background-color: $darkblue;
}

.activeButton {
    background: #ffffff;
    color: $darkblue;
    border: 1px solid $darkblue;
}

.inactiveButton {
        border: 1px solid #ccc;
        background: $darkblue;
        cursor: pointer;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    button {
        height: 45px;
    }
}

