@import '/src/views/variables_css/variables';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');


p {
    font-family: $primaryFont;
}

.reportsheet {
    padding: 0px 30px 30px 30px;
    height: 100%;
} 

.selectHidden {
    appearance: none; /* Removes default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent; /* Hides the text */
    cursor: pointer;
    width: 80px;
    color: $darkblue;
    font-size: $smallClamp;
    font-weight: 700;
    text-align: center;
  }

.preloader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        color: rgba(103, 103, 103, 0.60);
        font-size: $semiMedium;
    }
}


.headerStudentsPanel {
    display: flex;
    justify-content: space-between;
    max-width: 100%;

    div {
        width: 50%;
        gap: 10px;

    }

    .div1 {
        justify-content: start;

        button {
            align-self: center;
        }

        h3 {
            color: $darkblue;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    .div2 {
        justify-content: center;
        gap: 20px;

        p {
            text-wrap-mode: nowrap;
            font-size: $semiMedium;
            font-weight: 300;
            color: $darkblue;
        }
    }

    .div3 {
        justify-content: end;
        width: 40%;

        .button1,
        .button2 {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            padding: 3px 10px;
            border-radius: 5px;

            img {
                align-self: center;
            }

            p {

                font-size: 12px;
                text-align: center;
            }

            cursor: pointer;
        }

        .button1 {
            background-color: rgba(222, 229, 246, 1);
            border: 3px solid rgba(186, 190, 199, 1);
            border-radius: 5px;

            p {
                color: $darkblue;
            }
        }

        .button2 {
            background-color: $blue;
            color: $white;


            p {
                color: $white;
            }
        }

    }
}

.main {

    height: 80%;
    max-height: 80%;

    nav,
    ul,
    li {
        display: flex;
        align-items: center;
    }

    nav,
    li {
        border: 1px solid #f1cb20;
    }

    nav {

        background-color: #FFF7D4;
        height: 10%;
        padding-left: 40px;

        ul {
            max-height: 100%;
            height: 100%;

            li {
                height: 100%;
                padding: 0px 10px;

                button {
                    font-size: $Small;
                    font-weight: 700;
                    color: $darkblue;
                }
            }
        }
    }

    section {
        button {
            position: absolute;
            bottom: 40px;
            right: 40px;
        }
    }

    section {
        height: 100%;

        div {
            height: 100%;
            overflow: auto;
            overflow-x: hidden;

            ul {
                flex-direction: column;
                max-width: 100%;
                padding: 0px;
                gap: 0px;

                li {
                    border: 1px solid $darkblue;
                    background-color: white;
                    height: 9vh;
                    width: 100%;

                    button {
                        color: black;
                        width: 100%;
                        position: relative;
                        bottom: 0px;
                        right: 0px;
                        padding-left: 20px;
                        font-size: $Small;

                        p {
                            font-size: $large;
                        }
                    }
                }
            }
        }
    }

    .StudentList th:first-child {
        border-top-left-radius: 10px 10px;
    }

    .StudentList th:last-child {
        border-top-right-radius: 10px 10px;
    }

    .StudentList {

        .loading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h5 {
            color: $darkblue;
            font-size: $smallClamp;
        }

        th {
            width: 15px;
            background-color: rgba(186, 190, 199, 1);
        }

        td {
            color: $black;
            font-size: $Small;
            text-align: center;
          
            &.fail {
              color: rgb(199, 18, 18);
            }
          }

        table {
            width: 100%;
            border-collapse: separate;
            border-radius: 10px;
            border-spacing: 0px 20px;
        }

        p {
            font-size: $Small;
            text-align: center;
        }

        input[type="number"] {
            width: 8ch;
            /* Enough space for "00.00" */
            text-align: center;
            /* Centers the text inside */
            padding: 2px;
            /* Optional: Add padding for better visuals */
            border: 1px solid #ccc;
            /* Optional: Add a border */
            border-radius: 5px;
            /* Optional: Add rounded corners */
            font-family: inherit;
            /* Ensure the font matches the table */
            font-size: $Small;
            /* Match the table text size */
            box-sizing: border-box;
            /* Ensures padding and borders don't affect width */
        }

        .studentName {
            text-align: start;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 25px;
        right: 80px;
        z-index: 99;
        position: fixed;
        padding: 0px;
        gap: 10px;

        button {
            background-color: $darkblue;
            border-radius: 50px;
            border: solid 2px $black;

            p {
                margin: 0;
                text-align: center;
                color: white;
                font-size: $smallClamp;
            }

            &:hover {
                background-color: white;
                border: solid 2px $black ;

                p {
                    color: $darkblue;
                }
            }

        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkblue;
            width: 70px;
            height: 36px;
            border-radius: 24px;
            border: solid 2px $black;
            cursor: pointer;

            &:hover {
                background-color: white;
                border: solid 2px $black ;
                span {
                    color: $darkblue;
                    font-family: $primaryFont;
                    font-size: calc(4px + 0.6vw);
                    font-weight: $Bold;
                }
            }
            span {
                color: white;
                font-family: $primaryFont;
                font-size: calc(4px + 0.6vw);
                font-weight: $Bold;
            }

            .pencilIcon {
                font-family: 'Material Symbols Outlined';
                font-variation-settings:
                    'opsz' 20,
                    'wght' 400,
                    'FILL' 0,
                    'GRAD' 0;
                font-size: 25px;
                color: white;
            }

            .saveIcon {
                font-family: 'Material Symbols Outlined', sans-serif;
                font-variation-settings:
                    'opsz' 24,
                    'wght' 400,
                    'FILL' 0,
                    'GRAD' 0;
                font-size: 25px;
            }
        }
    }



}


.printIcon {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'opsz' 20,
        'wght' 400,
        'FILL' 0,
        'GRAD' 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: white;
    align-self: center;
}

.exportIcon {
    font-family: 'Material Symbols Outlined';
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
    color: $darkblue;
    align-self: center;
}

.missingGrades {
  background-color: rgb(247 128 106 / 33%);
}

.termSelector {
    justify-content: space-evenly;
    label {
        color: $darkblue;
        font-weight: $Bold;
        font-size: $Medium
    }

    div {
        display: flex;
        flex-direction: row;
        height: 0px;
    }

    button {
        background-color: $darkblue;
    }


}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.saveAllButton {
//   position: fixed;
//   bottom: 20px;
//   left: 50%;
  transform: translateX(-50%);
  background-color: $darkblue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.buttonAnimate {
    transition: all 0.3s ease;
}

.slideUp {
  animation: slideUp 0.3s forwards;
  display: block;
}

.slideDown {
  animation: slideDown 0.3s forwards;
  display: none;
}
