@import '/src/views/variables_css/variables';

.accountApproval {

    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    h5 {
      font-size: 25px;
      color: $blue;
    }
  }

  .container1 {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .searchBar {
    width: 33%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    img {
      align-self: center;
    }
    input {
      width: 100%;
      height: 10%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    img {
      align-self: center;
    }
    select {
      width: 40%;
    }
  
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
  
      &.pendingButton {
        background-color: $yellow;
        color: white;
      }
  
      &.approvedButton {
        background-color: #2ecc71;
        color: white;
      }
      &.printButton {
        background-color: $blue;
        color: white;
      }
    }
  }
  
  .accountList {
    max-height: calc(455px - 1vh);
    overflow-y: auto;


    .accountItem {
      display: flex;
      align-items: center;
      padding: 15px;
      width: 96%;
      margin-bottom: 10px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer; 
      transition: background-color 0.3s ease;

      

      &:hover:not(:has(button:hover)) {
        background-color: rgba(0, 0, 0, 0.05);
    
        .viewLabel {
          opacity: 1;
          color: $black
        }
      }
  
      .accountInfo {
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        gap: 100px;

        p {
          margin: 0;
          font-size: calc(8px + 0.6vw);
          color: $black;

          &:nth-child(2) {
            font-weight: bold;
          }
        }
        .divider {
          color: $black; // Light gray color for the divider
          font-size: 14px;
          font-weight: 700;
        }
      }
  
      .actions {
        display: flex;
        gap: 10px;
  
        button {
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 14px;
  
          &.approveButton {
            background-color: #2ecc71;
            color: white;
          }
  
          &.rejectButton {
            background-color: #e74c3c;
            color: white;
          }
        }
      }
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Required for positioning the close button */
  
    h3 {
      margin-top: 0;
    }
  
    .closeButton {
      position: absolute;
      top: 20px;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 15px;
        height: 15px;
      }
    }
  }