@import '/src/views/variables_css/variables';

.auditTrail {
  max-width: 70vw;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logTable {
  max-height: 380px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #ccc; /* Optional border */
}


h2 {
  color: $blue;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
}

.filterGroup label {
  font-weight: bold;
  margin-bottom: 10px;
}

.filterGroup input,
.filterGroup select {
  width: 100%;
  height: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tableContainer {
  overflow-x: auto;
}


.auditTable th,
.auditTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.auditTable th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.auditTable tbody tr:hover {
  background-color: #f1f1f1;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pagination button {
  margin: 0 5px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.pagination button.activePage {
  background-color: #0056b3;
}

.auditTable {
  width: 100%;
  border-collapse: collapse;

  th {
    text-wrap-mode: nowrap;
  }
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  thead {
    background-color: #f8f9fa;
  }

  .oddRow {
    background-color: #f9f9f9; /* Light gray */
  }

  .evenRow {
    background-color: #ffffff; /* White */
  }

  tr:hover {
    background-color: #f1f1f1; /* Slight highlight on hover */
  }
}

