@import '/src/views/variables_css/variables';


.department {

    padding: 0px 30px 30px 30px;
    height: 100%;
    
    h2 {
        color: $darkblue;
        font-weight: $extraBold;
    }
    header {
        display: flex;
        align-items: center;
        height: 10%;
        padding-top: 10px;
        gap: 20px;

        div {

            width: 40%;
            label {
                align-self: center;
                padding-top: 0px;
                font-weight: 700;
                padding-right: 20px;
            }
    
            select {
                
                padding: 6px;
                
                font-size: $semiMedium;
                height: 60%;
                width: 65%;
            }
        }
    }

    main{
        
        width: 100%;
        border-radius: 10px;
        
        div {

            ul {
                display: flex;
                padding: 40px;
                gap: 40px;
                
                li , li > button > div{
                    display: flex;
                    flex-direction: column;
                }
                li {
                    background-color: rgba(15, 42, 113, 0.63);
                    width: 20%;
                    height: 32vh;
                    gap: 10px;
                    justify-content: center;
                    box-shadow: 0px 2px 5px 0px rgba(8, 19, 46, 0.6);
                    
                    button {
                        height: 100%;
                        padding: 0px;

                        div {
                            width: 100%;
                            height: 100%;

                            .cs, .coed, .hm, .gen {
                                position: relative;
                                align-self: end;
                                width: 0px;
                                height: 0px;
                                border-style: solid;
                                border-width: 0 30px 30px 0;
                                transform: rotate(0deg);
                            }
                            
                            .coed {
                                border-color: transparent #1E308B transparent transparent;
                            }
                            .gen {
                                border-color: transparent #EBC216 transparent transparent;
                            }
                            .hm {
                                border-color: transparent #8A0306 transparent transparent;
                            }
                            .cs {
                                border-color: transparent #b3b3b3 transparent transparent;
                            }

                            footer {
                                p {
                                    font-size: $Small + 1;
                                    color: $black;
                                }
                            }

                                                
                            .deptName {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                h2, p {
                                    margin: 0;
                                    color: white;
                                    text-align: center;
                                    padding: 10px;
                                    
                                }
    
                                h2 {
                                    font-size: $extraLarge;
                                    font-weight: $Bold;
                                    letter-spacing: 0.07em;
                                }
    
                                p {
                                    font-size: $Small + 1px;
                                    font-weight: $Light + 100;
                                    letter-spacing: 0.03em;
                                }
                            }
                            
                        }
                        
                    }
                }
            }
        }
    }

    .mainDepartment {
        
        height: 84%;
        max-height: 84%;
        
    }
}
