@import '/src/views/variables_css/variables';

h2, h3 {
  color: $darkblue;
}

th, td {
  color: $black;
}

.userManagement {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchBar input {
  width: 98%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Scrollable User List */
.tableContainer {
  max-height: 400px;  /* Adjust height as needed */
  overflow-y: auto;
  border: 1px solid #ddd; /* Adds a border around the table for clarity */
}

.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th, .userTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.userTable th {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 10;
}

.userTable td {
  white-space: nowrap;
}

.editButton, .deleteButton {
  margin-right: 5px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.editButton {
  background-color: $blue;
  color: white;
}

.deleteButton {
  background-color: #f44336;
  color: white;
}

/* Modal Styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.modalActions button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.modalActions button:first-child {
  background-color: #4CAF50;
  color: white;
}

.modalActions button:last-child {
  background-color: #f44336;
  color: white;
}

.formGroup {
  padding: 10px;
 
}

.formGroup label {
  color: $black;
  font-weight: 600;
  padding-right: 20px;
}

.formGroup input {
  font-size: $semiMedium;
  padding-left: 15px;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid $black;
}
